= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6= f.input :name
      .col-md-6= f.input :first_name
    .row
      .col-md-6= f.input :email
      .col-md-6= f.input :phone
    .row
      .col-md-6= f.input :birthday
      .col-md-6= f.input :student_card
    .row
      .col-md-6= f.association :study_year
      .col-md-6= f.association :department

  .form-actions
    = f.button :submit, value: 'OK', class: %w(btn-primary btn-block)
