= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :first_name
    = f.input :email
    = f.input :phone
    = f.input :birthday
    = f.input :student_card
    = f.input :study_year
    = f.input :department

  .form-actions
    = f.button :submit
